@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,200');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: rgb(54,48,98);
    background: linear-gradient(0deg, rgba(54,48,98,1) 0%, rgba(245,232,199,1) 100%);
}
.nav-link {
    color: #333; 
    font-weight: bold;
    text-decoration: none; 
    margin-right: 20px; 
    transition: color 0.3s ease; 
}

.nav-link:hover {
    color: #007bff; 
}


.languages p {
    line-height: 0.5;
    flex: auto;
}

.inline-block {
    display: inline-block;
}

.ml-3 {
    margin-left: 15px;
}

.cat_picture_container {
    max-width: 500px;
    max-height: 500px;
    overflow: hidden; /* Hide overflow content */
    background-color: white; /* Set the background color to white for borders */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cat_picture {
    width: auto;
    height: auto;
}

.web_title {
    padding: 30px;
    border-radius: 49% 51% 32% 68%/56% 57% 43% 44%;
    box-shadow: 12px 15px 18px 3px rgba(0,0,0,0.43);
    -webkit-box-shadow: 1px 15px 5px 3px rgba(0,0,0,0.43);
    -moz-box-shadow: 12px 15px 18px 3px rgba(0,0,0,0.43);
}

    .web_title h1 {
        font-size: 90px;
        text-align: center;
        color: whitesmoke;
        font-family: 'Montserrat', sans-serif;
    }

.cat_picture_outer {
    margin-top: 300px;
}

.front_page {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 100vh; 
    }



.list_table .table {
    background-color: rgba(250, 209, 161,0.2);
    justify-content: center;
}

.list_table td {
    font-size: 20px;
    text-align: center;
    align-items: center;
}

.btn-cat {
    background: #a2a8d3;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 60px;
}
.navbar-collapse {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    height:50px;
}

