@using Microsoft.EntityFrameworkCore
@using System.Diagnostics.Eventing.Reader
@model CvListViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="front_page">
    <div>
        <div class="web_title">
            <h1>CV App</h1>
        </div>
    </div>
    <div class="cat_picture_outer">
        <button class="btn-cat">Show me a picture of random cat!</button>
        <div class="cat_picture_container">
            <div id="catPictureContainer" class="cat_picture"></div>
        </div>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.btn-cat').click(function (e) {
            e.preventDefault();

            var catPictureUrl = 'https://cataas.com/cat?unique=' + new Date().getTime();

            var imgElement = $('<img>').attr('src', catPictureUrl);

            $('#catPictureContainer').empty().append(imgElement);
        });

        $('#catForm').submit(function (e) {
        });
    });
</script>
