@using Microsoft.EntityFrameworkCore
@using System.Diagnostics.Eventing.Reader
@model CvListViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="front_page">
    <div>
        <div class="web_title">
            <h1>CV App</h1>
        </div>
    </div>
    <div class="cat_picture_outer">
        <button class="btn-cat">Show me a picture of random cat!</button>
        <div class="cat_picture_container">
            <div id="catPictureContainer" class="cat_picture"></div>
        </div>
    </div>
</div>

<div class="ribbon">Your content</div> 




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.btn-cat').click(function (e) {
            e.preventDefault(); // Prevent button's default behavior

            // URL of the cat picture with a unique parameter to prevent caching
            var catPictureUrl = 'https://cataas.com/cat?unique=' + new Date().getTime();

            // Create an <img> element
            var imgElement = $('<img>').attr('src', catPictureUrl);

            // Append the <img> element to the catPictureContainer
            $('#catPictureContainer').empty().append(imgElement);
        });

        // Handle form submission
        $('#catForm').submit(function (e) {
            // Handle form submission logic if needed
        });
    });
</script>
